body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Roboto";
}

.titlehkeex {
  font-size: 14rem;
  line-height: 1.2;
  color: #ffffff;
  text-shadow: 8px 8px #f1ee0f;
  
}


.titlehkeex3 {
  font-size: 200px;
  line-height: 1.2;
  color: #5cdbdb;
  text-shadow: 8px 8px #f1ee0f;
  
}

.titleapp {
  font-size: 55px !important;
  color: #ffffff;
}

.subtitleh2 {
  font-size: 40px;
  line-height: 1.2;
  color: #ffffff;
}

.footerstyles {
  padding: 60px 0;
}

.  {
  font-size: 100px;
  color: #9e9e9e;
  font-family: "Roboto  ";
}

.footercontainer {
  background: #262626;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 150px;
  padding: 60px 0;
}

.logonavbar {
  color: #000000;
}

.footerh2 {
  color: #ffffff;
  font-size: 40px;
  margin-top: 20px;  
}

.footerh0 {
  color: #ffffff;
  font-size: 25 px;
}

.footerspan {
  color: #9e9e9e;
}
